
:root {
	--color-background: #ffffff;
	--color-text: #0c0c0d;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
}

label {
	width: 40%;
	height: 2em;
	
	margin: 0.25em 0;

	display: inline-block;
}

span {
	font-weight: bold;
}

p {
	opacity: 0.75;
}

input[type="range"] {
	width: 40%;
	margin-right: 1ch;
	vertical-align: middle;
}
