
body.light {
	--color-group: #ffffff;
	--color-group-text: #111111;
}

body {
	background-color: var(--color-group);
	color: var(--color-group-text);
}

label {
	width: 35%;
	height: 2em;

	margin: 0.25em 0;

	display: inline-block;
}

span {
	font-weight: bold;
}

p {
	opacity: 0.75;
}

input[type="range"] {
	width: 40%;
	margin-right: 1ch;
	vertical-align: middle;
}
