
body.dark {
	--color-background: #0c0c0d;
	--color-text: #ededf0;
	--color-shadow: rgba(0, 0, 0, 0.5);

	--color-group-background: #2a2a2e;
	--color-group-text: rgba(249, 249, 250, 0.5);
	--color-group-border: rgba(249, 249, 250, 0.1);

	--color-tab: #4a4a4f;
	--color-tab-border: rgba(0, 0, 0, 0.9);
	--color-tab-overlay: rgba(12, 12, 13, 0.8);
	--color-tab-text: rgba(255, 255, 255, 0.8);
}

.dark .tab .thumbnail {
	opacity: 0.9;
}
