
body.dark {
	--color-background: #1e1e1e;
	--color-text: #f0f0f0;
	--color-shadow: rgba(255, 255, 255, 0.15);

	--color-group-background: #303030;
	--color-group-border: #454545;

	--color-tab: #1e1e1e;
	--color-tab-overlay: rgba(0, 0, 0, 0.8);
	--color-tab-hover: rgba(255, 255, 255, 0.3);
	--color-tab-active: #45a1ff;
}

.dark .tab .thumbnail {
	opacity: 0.9;
}
