
.group {
	min-width: 120px;
	min-height: 120px;

	position: absolute;
}

.group::before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;

	border-radius: 6px;

	box-shadow: 0 1px 8px var(--color-shadow), 0 0 0 1px var(--color-shadow), inset 0 0 0 2px var(--color-group-border);

	background-color: var(--color-group-background);
}

.group .header {
	height: 20px;

	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;
	z-index: 100;

	cursor: move;
}

.group .header input, .group .header .name {
	-moz-appearance: none;

	max-width: calc(100% - 60px);
	height: 20px;

	margin: 0;
	padding: 0;

	position: absolute;
	top: 0px;
	left: 6px;

	border: none;

	background: none;

	color: var(--color-group-text);
	font-size: 12px;
	line-height: 19px;
	font-family: inherit;
	text-overflow: "..";
}

.group .header input:focus {
	color: var(--color-text);
	outline: none;
}

.group .header .name {
	padding-right: 6px;
	opacity: 0;
}

.group .header .tab_count {
	height: 19px;

	padding: 4px 6px 3px 6px;

	position: absolute;
	top: -4px;
	right: 26px;

	border-radius: 0 0 3px 3px;

	background-color: var(--color-group-border);

	backdrop-filter: saturate(300%);

	color: var(--color-group-text);
	font-size: 12px;
	font-family: inherit;
	line-height: 19px;
}

.group .header .close {
	width: 20px;
	height: 20px;

	position: absolute;
	top: 0;
	right: 0px;

	cursor: default;
	
	background-color: var(--color-group-text);

	mask: no-repeat center / 12px;
	mask-image: url(../gfx/group_close.svg);

	opacity: 0.5;
}

.group .header .close:hover {
	opacity: 1;
}

.group .tabs {
	position: absolute;
	top: 32px;
	right: 8px;
	left: 8px;
	bottom: 8px;
	
	overflow-x: none;
	overflow-y: auto;
	scrollbar-width: thin;
}

/* resize */
.group .resize {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.group .resize .top {
	height: 8px;

	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .resize .right {
	width: 8px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 0;

	cursor: ew-resize;
}

.group .resize .bottom {
	height: 8px;

	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;

	cursor: ns-resize;
}

.group .resize .left {
	width: 8px;

	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 0;

	cursor: ew-resize;
}

.group .resize .top_right {
	width: 22px;
	height: 22px;

	position: absolute;
	top: 0;
	right: 0;

	cursor: nesw-resize;
}

.group .resize .bottom_right {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: 0;
	right: 0;

	cursor: nwse-resize;
}

.group .resize .bottom_left {
	width: 22px;
	height: 22px;

	position: absolute;
	bottom: 0;
	left: 0;

	cursor: nesw-resize;
}

.group .resize .top_left {
	width: 22px;
	height: 22px;

	position: absolute;
	top: 0;
	left: 0;

	cursor: nwse-resize;
}
