
.tab, .newtab {
	margin: 4px;

	box-sizing: border-box;

	position: absolute;
}

.tab {
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 5px;

	box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(12, 12, 13, 0.1);
	
	overflow: hidden;

	transition: opacity 500ms cubic-bezier(.08,.82,.17,1), transform 500ms cubic-bezier(.08,.82,.17,1);
}

.tab:hover, .tab.inactive:hover, .tab.selected {
	box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 0 0 3px rgba(12, 12, 13, 0.15);
}

.tab.active {
	outline: 2px solid #45a1ff;
}

.tab.inactive {
	filter: saturate(0.8);
	opacity: 0.65;
}

.tab.selected {
	transform: scale(0.95);
}

.tab.drag {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	outline: none;

	opacity: 0.5;
	transform: scale(0.9);
}

.tab .thumbnail {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	background-size: cover;
	background-position: top;
	
	z-index: 0;
}

.tab .favicon {
	width: 16px;
	height: 16px;

	margin: 3px;
	padding: 2px;

	position: absolute;
	left: 0;
	top: 0;

	border-radius: 2px;

	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-color: rgba(255, 255, 255, 0.85);

	box-shadow: 0 0 0 1px rgba(12, 12, 13, 0.1);

	display: none;
	
	z-index: 10;
}

.tab .favicon.visible {
	display: block;
}

.tab .close {
	width: 16px;
	height: 16px;

	margin: 5px;
	padding: 0;

	position: absolute;
	right: 0;
	top: 0;

	background-image: url(../gfx/tab_close.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
	
	border-radius: 2px;

	z-index: 10;

	opacity: 0.5;
}

.tab .close:hover {
	background-color: rgba(12, 12, 13, 0.15);

	opacity: 1;
}

.tab .title {
	position: absolute;
	bottom: -1px;
	left: 3px;
	right: 3px;

	font-size: 11.5px;
	text-align: center;
	white-space: nowrap;
	
	z-index: 10;
}

.tab .title span {
	max-width: 100%;

	padding: 2px 6px;

	display: inline-block;
	box-sizing: border-box;

	border-radius: 2px;

	background-color: rgba(255, 255, 255, 0.9);

	box-shadow: 0 0 0 1px rgba(12, 12, 13, 0.1);

	text-overflow: "..";
	text-shadow: 0 0 2px #ffffff;

	overflow: hidden;
}

.newtab .border {
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;

	border: rgba(12, 12, 13, 0.8) 2px dashed;
	border-radius: 5px;

	opacity: 0.2;
}

.newtab .border::after {
	content: '';
	
	width: 70%;
	height: 70%;

	max-width: 16px;
	max-height: 16px;

	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);

	background-image: url(../gfx/plus_dark.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.newtab .border:hover {
	opacity: 0.4;
}

.tab.small .favicon[style] + .thumbnail {
	display: none;
}

.tab.small .favicon {
	width: auto;
	height: auto;

	margin: 0;
	padding: 2px;
	
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background-size: cover;
	background-color: #f7f7f9;
	box-shadow: none;
}

.tab.small .title span {
	padding: 0 5px;

	font-size: 10px;
	text-overflow: "";
}

.tab.small .close {
	display: none;
}

.tab.tiny .title {
	display: none;
}
