
:root {
	--color-background: #ededf0;
	--color-text: #0c0c0d;
	--color-shadow: rgba(12, 12, 13, 0.1);

	--color-group-background: #f7f7f9;
	--color-group-text: rgba(12, 12, 13, 0.5);
	--color-group-border: rgba(255, 255, 255, 0.9);

	--color-tab: #ffffff;
	--color-tab-border: rgba(12, 12, 13, 0.15);
	--color-tab-overlay: rgba(255, 255, 255, 0.9);
}

body {
	-moz-appearance: none;

	margin: 0;

	background-color: var(--color-background);

	color: var(--color-text);
	font-family: sans-serif;
	-moz-user-select: none;
}

#groups {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;

	overflow: hidden;
}
