
body.light {
	--color-background: #ebebeb;
	--color-text: #111111;
	--color-shadow: rgba(0, 0, 0, 0.1);

	--color-group-background: #fbfbfb;
	--color-group-border: #dddddd;

	--color-tab: #ffffff;
	--color-tab-overlay: rgba(255, 255, 255, 0.8);
	--color-tab-hover: rgba(0, 0, 0, 0.2);
	--color-tab-active: #45a1ff;
}

body {
	background-color: var(--color-background);

	color: var(--color-text);
	font-family: sans-serif;
	-moz-user-select: none;
}

#groups {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;

	overflow: hidden;
}

/* phantom new group button to lure people into double or middle clicking the background */
#groups::before {
	content: '';

	width: 32px;
	height: 32px;

	display: block;

	position: absolute;
	top: 0;
	right: 0;

	background-color: var(--color-text);

	mask: no-repeat center / 16px;
	mask-image: url(../gfx/plus.svg);

	opacity: 0.2;
}
