
html, body {
	width: 100%;
	height: 100%;
}

body.light {
	--color-background: #ebebeb;
	--color-shadow: rgba(0, 0, 0, 0.15);

	--color-group: #fbfbfb;
	--color-group-text: #111111;
	--color-group-border: rgba(0, 0, 0, 0.1);

	--color-tab: #ffffff;
	--color-tab-text: #111111;
	--color-tab-overlay: rgba(255, 255, 255, 0.8);
	--color-tab-hover: rgba(0, 0, 0, 0.2);
	--color-tab-active: #45a1ff;
}

body {
	margin: 0;

	background-color: var(--color-background);

	font-family: sans-serif;
	-moz-user-select: none;

	display: grid;
	grid-template-rows: [top] min-content [toolbar] auto [bottom];
}

/*#search {
	margin: 0 7px
}

#search input {
	width: 100%;
	max-width: 40ch;
	height: 28px;

	margin: 8px auto 3px;
	padding: 0 8px;

	display: block;

	border-radius: 6px;
	border: none;

	background-color: var(--color-group-background);

	color: var(--color-text);

	transition: height 300ms ease-in-out, margin 300ms ease-in-out, opacity 300ms ease-in-out;
}

#search.hidden input {
	height: 0px;

	margin: 0px auto 0px;

	opacity: 0;
}*/

#pinned, #groupless {
	display: none;
}

#groups {
	margin: 3px;

	position: relative;

	grid-row: toolbar / bottom;
	justify-self: stretch;
}

/* phantom new group button to lure people into double or middle clicking the background */
#groups::before {
	content: '';

	width: 32px;
	height: 32px;

	display: block;

	position: absolute;
	top: 0;
	right: 0;

	background-color: var(--color-group-text);

	mask: no-repeat center / 16px;
	mask-image: url(../gfx/add.svg);

	opacity: 0.2;
}
