
/* view */
body.dark {
	background-color: #0c0c0d;
}

.dark #toolbar {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 2px rgba(249, 249, 250, 0.1);
	background-color: #2a2a2e;
}

.dark.backdrop #toolbar {
	background-color: rgba(42, 42, 46, 0.8);
	backdrop-filter: saturate(250%) blur(32px);
}

.dark #toolbar .button:hover {
	background-color: rgba(249, 249, 250, 0.2);
}

.dark #toolbar .button:active {
	background-color: rgba(249, 249, 250, 0.25);
}

.dark #newGroup {
	background-image: url(/icons/plus_light.svg);
}

.dark #toggleTheme {
	background-image: url(/icons/icon_light.svg);
}


/* groups */
.dark .group::before {
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.5), inset 0 0 0 2px rgba(249, 249, 250, 0.1);
	background-color: #2a2a2e;
}

.dark.backdrop .group::before {
	background-color: rgba(42, 42, 46, 0.8);
	backdrop-filter: saturate(250%) blur(32px);
}

.dark .group .header input, .group .header .name {
	color: rgba(249, 249, 250, 0.5);
}

.dark .group .header .tab_count {
	background-color: rgba(249, 249, 250, 0.2);
	color: rgba(249, 249, 250, 0.5);
}

.dark .group .header .close {
	background-image: url(../icons/group_close_light.svg);
}

.dark .group .header .close:hover {
	background-color: rgba(249, 249, 250, 0.2);
	opacity: 0.75;
}


/* tabs */
.dark .tab {
	border-color: #4a4a4f;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.5);
	background-color: #38383d;
}

.dark .tab:hover, .dark .tab.inactive:hover {
	border-color: #737373;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8), 0 0 0 3px rgba(0, 0, 0, 0.8);
}

.dark .tab.selected {
	border-color: #737373;
}

.dark .tab.inactive {
	opacity: 0.8;
}

.dark .tab .thumbnail {
	opacity: 0.9;
}

.dark .tab .name span {
	background-color: rgba(0, 0, 0, 0.7);

	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);

	color: #ededf0;
	text-shadow: none;
}

.dark .newtab .border {
	border-color: rgba(249, 249, 250, 1);
	opacity: 0.25;
}

.dark .newtab .border::after {
	background-image: url(/icons/plus_light.svg);
}

.dark .newtab .border:hover {
	opacity: 0.4;
}
