
.tab, .newtab {
	margin: 4px;

	box-sizing: border-box;

	position: absolute;
}

.tab {
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 5px;

	box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(12, 12, 13, 0.1);

	background-size: cover;
	background-position: top;
	background-origin: border-box;
	background-color: #ededf0;

	transition: opacity 500ms cubic-bezier(.08,.82,.17,1), transform 500ms cubic-bezier(.08,.82,.17,1);
}

.tab:hover, .tab.inactive:hover {
	box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1), 0 0 0 3px rgba(12, 12, 13, 0.15);
}

.tab.selected {
	border-color: #45a1ff;
}

.tab.inactive {
	box-shadow: none;
	opacity: 0.8;
}

.tab.drag {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

	outline: none;

	opacity: 0.5;
	transform: scale(0.9);
}

.tab .favicon {
	width: 16px;
	height: 16px;

	margin: 3px;
	padding: 2px;

	position: absolute;
	left: 0;
	top: 0;

	border-radius: 2px;

	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-color: rgba(255, 255, 255, 0.85);

	box-shadow: 0 0 0 1px rgba(12, 12, 13, 0.1);

	display: none;
}

.tab .favicon.visible {
	display: block;
}

.tab .close {
	width: 16px;
	height: 16px;

	margin: 3px;
	padding: 2px;

	position: absolute;
	right: 0;
	top: 0;

	background-image: url(../icons/tab_close.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: center;
}

.tab .name {
	position: absolute;
	bottom: -1px;
	left: 3px;
	right: 3px;

	font-size: 12px;
	text-align: center;
	white-space: nowrap;
}

.tab .name span {
	max-width: 100%;
	height: 22px;

	padding: 2px 6px;

	display: inline-block;
	box-sizing: border-box;

	border-radius: 2px;

	background-color: rgba(255, 255, 255, 0.9);

	box-shadow: 0 0 0 1px rgba(12, 12, 13, 0.1);

	text-overflow: "...";
	text-shadow: 0 0 2px #ffffff;

	overflow: hidden;
}

.newtab .border {
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;

	border: rgba(12, 12, 13, 0.8) 2px dashed;
	border-radius: 5px;

	background-image: url(../icons/plus_dark.svg);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;

	opacity: 0.2;
}

.newtab .border:hover {
	opacity: 0.4;
}

.tab.small {
	
}

.tab.small .favicon {
	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background-size: cover;
	background-color: #f7f7f9;
	box-shadow: none;

	display: none;
}

.tab.small .name span {
	height: 20px;

	font-size: 10px;
	text-overflow: "";
}

.tab.small .close {
	display: none;
}
