
:root {
	--background-color: #ededf0;
}

body {
	-moz-appearance: none;

	margin: 0;

	background-color: var(--background-color);

	color: #0c0c0d;
	font-family: sans-serif;
	-moz-user-select: none;
}

#groups {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;

	overflow: auto;
}

#toolbar {
	width: 28px;
	padding: 5px;

	position: fixed;
	top: 64px;
	right: 0;

	z-index: 9999999999;

	border-radius: 4px 0 0 4px;

	box-shadow: 0 1px 16px rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(12, 12, 13, 0.1), inset 0 0 0 2px rgba(255, 255, 255, 0.9);

	background-color: #f6f6f7;
}

#toolbar .button {
	width: 28px;
	height: 28px;

	border-radius: 4px;

	background-repeat: no-repeat;
	background-position: center;
}

#toolbar .button:hover {
	background-color: rgba(12, 12, 13, 0.1);
}

#toolbar .button:active {
	background-color: rgba(12, 12, 13, 0.15);
}

#newGroup {
	background-image: url(../icons/plus_dark.svg);
}

.drag_indicator {
	width: 2px;
	height: 100px;

	position: absolute;
	z-index: 1000000000;

	background-color: #00adff;

	display: none;
}

.drag_indicator.show {
	display: block;
}
